Source: indicator-network-prompt
Section: gnome
Priority: optional
Maintainer: Pete Woods <pete.woods@canonical.com>
Build-Depends: debhelper (>= 9),
               cmake,
               pkg-config,
               google-mock (>= 1.6.0+svn437),
               qtbase5-dev,
               libnm-util-dev,
               network-manager-dev,
               valgrind,
               python3-dbusmock,
               gettext,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/indicator-network-prompt
# If you aren't a member of ~submarine but need to upload packaging changes,
# just go ahead. ~submarine will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~unity-team/indicator-network-prompt/trunk
 
Package: indicator-network-prompt
Architecture: any
Depends:  ${misc:Depends},
          ${shlibs:Depends}
Description: SoundCloud scope for Unity
 This package contains the "soundcloud" scope which allows Unity
 to search for SoundCloud content.
